p{
    width: 400px;
    text-align: center;}
#channel{
    display: flex; 
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
#pages
{
    display: flex; 
    align-items:center;
    justify-content:center;
    flex-direction: row;
}